<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bingo.laboratory">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.matrix.TransformMatrixActivity" />
        <activity android:name=".ui.canvas.CanvasActivity" />
        <activity android:name=".ui.customview.CustomerViewActivity" />
        <activity android:name=".ui.bezier.BezierActivity" />
        <activity android:name=".ui.animator.value.CharValueAnimatorActivity" />
        <activity android:name=".ui.animator.object.PlayObjectAnimatorActivity" />
        <activity android:name=".ui.animator.object.PropertyValueActivity" />
        <activity android:name=".ui.animator.object.PeacockAnimatorActivity" />
        <activity android:name=".ui.scroll.ScrollActivity"/>
        <activity android:name=".ui.scroll.VPScrollActivity"/>
        <activity android:name=".live.LivePlayActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".live.VideoEabledWebViewActivity"/>
    </application>

</manifest>